*.out
*.txt
*~
*#
\#*
*.o
*.a
*.gc*
*.report
*.so
vgcore*
unit*
.idea/
.vscode/
.vs/
out/
Cmake*
CMake*
!CMakeLists.txt
cmake-build-*/
build/
doc/
bomberman
*.exe
*.sln
*.vcxproj
*.vcxproj.filters
*.dir/
*.lib
*.pdb
dist/