name: Cross platform build

on:
  push:
    branches: [ master, dev, main ]
  pull_request:
    branches: [ master, dev, main ]

  workflow_dispatch:

jobs:
  build_linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Create Build Environment
        run: cmake -E make_directory ${{github.workspace}}/build

      - name: Setup Environment
        run: |
          sudo apt-get update -qq
          sudo apt-get install gcc-multilib
          sudo apt-get install -y --no-install-recommends libglfw3 libglfw3-dev libx11-dev libxcursor-dev libxrandr-dev libxinerama-dev libxi-dev libxext-dev libxfixes-dev

      - name: Configure CMake
        shell: bash
        working-directory: ${{github.workspace}}/build
        run: cmake ${{github.workspace}}
      
      - name: Build
        shell: bash
        run: cmake --build ${{github.workspace}}/build
        
      #- name: Upload artifact
      #  uses: actions/upload-artifact@v3
      #  with:
      #    name: bomberman_linux_x86_64
      #    path: ${{github.workspace}}/build/bomberman

  build_windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Create Build Environment
        run: cmake -E make_directory ${{github.workspace}}/build

      - name: Configure CMake
        shell: powershell
        working-directory: ${{github.workspace}}/build
        run: cmake ${{github.workspace}}

      - name: Build
        shell: powershell
        run: cmake --build ${{github.workspace}}/build
        
      #- name: Upload artifact
      #  uses: actions/upload-artifact@v3
      #  with:
      #    name: bomberman_windows.exe
      #    path: ${{github.workspace}}/build/Debug/bomberman.exe
